# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (If you create one later)
venv/
.venv/
env/

# --- VS Code ---
.vscode/

# --- Operating System Files ---
# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Environment Variables ---
.env